
*
{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body
{
    @include main-font;
    font-size: 1rem;
    font-weight: 400;
    background-color: $colorWhite;
    color: $colorBlack; 
}

main
{
    padding-top: 116px;
    padding: 116px 24px 30px;
}