section.habilidades
{
    display: grid;

    @media (min-width: 992px) {
        width: 80%;
        margin: 0 auto 1.5rem;
    }

    h2
    {
        margin-top: 1.5rem;

    }
    
    .habilidades-content
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        @media (min-width: 1200px) {
            margin: 0;
        }


        .circle-habilidad:nth-child(even)
        {
            background-color: $colorLight;
            transition: .3s;

            span
            {
                color: $colorBold;
            }

            &:hover
            {
                background-color: $colorNormal;

                span
                {
                    color: $colorSemiBold;
                }
            }
        }
        
        .circle-habilidad:nth-child(odd)
        {
            background-color: $colorSemiBold;
            transition: .3s;

            span
            {
                color: $colorNormal;
            }

            &:hover
            {
                background-color: $colorNormal;

                span
                {
                    color: $colorSemiBold;
                }
            }
        }

        .circle-habilidad
        {
            margin-top: 1.5rem;
            width: 10rem;
            height: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            @media (min-width: 992px) {
                width: 12rem;
                height: 12rem;
            }

            span
            {
                font-size: 1.5rem;
                font-weight: 600;
                text-transform: uppercase;

                @media (min-width: 992px) {
                    font-size: 1.7rem;
                }

            }
        }

    }
}