section.habilidades
{
    .habilidades-content
    {
        display: flex;
        flex-flow: column wrap;
        span
        {
           background-color: $colorLight;
           margin-bottom: 1.5rem;
        }
    }
}